[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.0"
mysqlclient = "*"
pymysql = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.7"
