<script src="/static/assets/js/modernizr.min.js"></script>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/moment.min.js"></script>
		
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>

<script src="/static/assets/js/detect.js"></script>
<script src="/static/assets/js/fastclick.js"></script>
<script src="/static/assets/js/jquery.blockUI.js"></script>
<script src="/static/assets/js/jquery.nicescroll.js"></script>

<!-- App js -->
<script src="/static/assets/js/pikeadmin.js"></script>
<script src="/static/portal/js/jucloud.js"></script>

<!-- BEGIN Java Script for this page -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/static/assets/js/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/dataTables.bootstrap4.min.js"></script>
	<!-- Counter-Up-->
<script src="/static/assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/static/assets/plugins/counterup/jquery.counterup.min.js"></script>	