	<!-- Left Sidebar -->
	<div class="left main-sidebar">
            <div class="sidebar-inner leftscroll">
                <div id="sidebar-menu">
                <ul>
                    <li class="submenu">
                        <a class="cloudmenu"  href="/"><i class="fa fa-fw fa-tachometer"></i><span> 监控大盘 </span> </a>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-fw fa-table"></i> <span> 在线监控</span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a class="cloudmenu" href="/monitor/data">实时数据</a></li>
                            <li><a class="cloudmenu" href="/monitor/charts">实时曲线</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- End Sidebar -->